@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
nav[role="bugar-button"] {
  position: relative;
  display: none;
  font-size: 20pt;
  width: 1em;
  height: 1.2em;
  line-height: 2em;
  margin: 0 .5em 0 0;
  cursor: pointer;
  vertical-align: sub; }
  @media screen and (max-width: 900px) {
    nav[role="bugar-button"] {
      display: inline-block; } }
  nav[role="bugar-button"] > li {
    position: absolute;
    display: block;
    width: 100%;
    border: 1px solid #FAF9F7;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-transition: top 500ms cubic-bezier(0.17, 0.84, 0.44, 1), -webkit-transform 500ms cubic-bezier(0.17, 0.84, 0.44, 1);
    transition: top 500ms cubic-bezier(0.17, 0.84, 0.44, 1), -webkit-transform 500ms cubic-bezier(0.17, 0.84, 0.44, 1);
    transition: transform 500ms cubic-bezier(0.17, 0.84, 0.44, 1), top 500ms cubic-bezier(0.17, 0.84, 0.44, 1);
    transition: transform 500ms cubic-bezier(0.17, 0.84, 0.44, 1), top 500ms cubic-bezier(0.17, 0.84, 0.44, 1), -webkit-transform 500ms cubic-bezier(0.17, 0.84, 0.44, 1);
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center; }
  nav[role="bugar-button"] > li[role="bugar-top-bread"] {
    top: 25%; }
  nav[role="bugar-button"] > li[role="bugar-ham"] {
    top: 50%; }
  nav[role="bugar-button"] > li[role="bugar-btn-bread"] {
    top: 75%; }

nav[role="bugar-button"].active > li[role="bugar-top-bread"] {
  top: 50%;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg); }

nav[role="bugar-button"].active > li[role="bugar-ham"] {
  -webkit-transform: rotateZ(45deg);
      -ms-transform: rotate(45deg);
          transform: rotateZ(45deg); }

nav[role="bugar-button"].active > li[role="bugar-btn-bread"] {
  top: 50%;
  -webkit-transform: rotateZ(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotateZ(-45deg); }

nav[role="banner"] {
  display: block;
  position: relative;
  font-size: 20pt;
  height: 2em;
  line-height: 2em;
  padding: .5em;
  background-color: #749B75; }
  nav[role="banner"] span[role="vertical-anchor"] {
    line-height: 2em;
    opacity: 0; }
  nav[role="banner"] img[role="logo"] {
    height: 1.2em;
    vertical-align: sub; }
  nav[role="banner"] > ul {
    display: inline-block;
    font-size: 14pt;
    z-index: 999; }
    @media screen and (max-width: 900px) {
      nav[role="banner"] > ul {
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%; } }
  nav[role="banner"] > ul > li {
    list-style: none;
    display: inline-block;
    padding: 0 .3em;
    cursor: pointer; }
    nav[role="banner"] > ul > li a {
      border-bottom: 1px solid transparent;
      color: #FAF9F7;
      text-decoration: none;
      -webkit-transition: border-bottom 200ms;
      transition: border-bottom 200ms; }
    nav[role="banner"] > ul > li.active > a {
      border-bottom: 1px solid #FAF9F7; }
    nav[role="banner"] > ul > li:hover > a {
      border-bottom: 1px solid #FAF9F7; }
    @media screen and (max-width: 900px) {
      nav[role="banner"] > ul > li {
        display: block;
        width: 100%;
        padding: 0;
        text-align: center;
        background: #749B75;
        -webkit-transform: translateX -100%;
            -ms-transform: translateX -100%;
                transform: translateX -100%;
        -webkit-transform: translate3d(-100%, 0, 0);
                transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 800ms cubic-bezier(0.17, 0.84, 0.44, 1);
        transition: -webkit-transform 800ms cubic-bezier(0.17, 0.84, 0.44, 1);
        transition: transform 800ms cubic-bezier(0.17, 0.84, 0.44, 1);
        transition: transform 800ms cubic-bezier(0.17, 0.84, 0.44, 1), -webkit-transform 800ms cubic-bezier(0.17, 0.84, 0.44, 1); } }
  nav[role="banner"] nav[role="lang-switch"] {
    position: absolute;
    right: 0;
    top: 50%;
    font-size: 14pt;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
    nav[role="banner"] nav[role="lang-switch"] span {
      font-size: 14pt;
      margin: 0 1em 0 0;
      border: 0;
      color: #FAF9F7;
      cursor: pointer;
      opacity: .5; }
      nav[role="banner"] nav[role="lang-switch"] span.active, nav[role="banner"] nav[role="lang-switch"] span:hover {
        opacity: 1; }

nav[role="bugar-button"].active ~ ul > li {
  -webkit-transform: translateX 0;
      -ms-transform: translateX 0;
          transform: translateX 0;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
  nav[role="bugar-button"].active ~ ul > li:nth-child(1) {
    -webkit-transition-delay: 50ms;
            transition-delay: 50ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(2) {
    -webkit-transition-delay: 100ms;
            transition-delay: 100ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(3) {
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(4) {
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(5) {
    -webkit-transition-delay: 250ms;
            transition-delay: 250ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(6) {
    -webkit-transition-delay: 300ms;
            transition-delay: 300ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(7) {
    -webkit-transition-delay: 350ms;
            transition-delay: 350ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(8) {
    -webkit-transition-delay: 400ms;
            transition-delay: 400ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(9) {
    -webkit-transition-delay: 450ms;
            transition-delay: 450ms; }
  nav[role="bugar-button"].active ~ ul > li:nth-child(10) {
    -webkit-transition-delay: 500ms;
            transition-delay: 500ms; }

section[role="footer-sponsor"] {
  font-size: 14pt;
  padding: 4em 0;
  background-color: #AACA86; }
  section[role="footer-sponsor"] > section {
    margin: 4em auto 0 auto;
    max-width: 1300px; }
    section[role="footer-sponsor"] > section:first-of-type {
      margin-top: 0; }
    @media screen and (max-width: 1400px) {
      section[role="footer-sponsor"] > section {
        width: 980px; } }
    @media screen and (max-width: 1050px) {
      section[role="footer-sponsor"] > section {
        width: 700px; } }
    @media screen and (max-width: 900px) {
      section[role="footer-sponsor"] > section {
        width: 80%; } }
  section[role="footer-sponsor"] header[role="sponsor-class"] {
    display: block;
    font-size: 2em;
    color: #FAF9F7; }
  section[role="footer-sponsor"] div[role="sponsor"] {
    display: inline-block;
    margin: 1em 1em 0 0; }
    section[role="footer-sponsor"] div[role="sponsor"] a {
      display: inline-block; }
      section[role="footer-sponsor"] div[role="sponsor"] a[href=""] {
        cursor: default;
        pointer-events: none; }
    section[role="footer-sponsor"] div[role="sponsor"] img {
      max-width: 300px; }
      @media screen and (max-width: 900px) {
        section[role="footer-sponsor"] div[role="sponsor"] img {
          max-width: 100%; } }
    section[role="footer-sponsor"] div[role="sponsor"] p {
      text-align: center;
      color: #FAF9F7; }

footer[role="banner"] {
  padding: 2em 1em;
  background-color: #517862; }
  footer[role="banner"] a {
    opacity: .5; }
    footer[role="banner"] a:hover {
      opacity: 1; }
  footer[role="banner"] section[role="old-coscup-link"] {
    text-align: center; }
    footer[role="banner"] section[role="old-coscup-link"] a {
      font-family: "Roboto Mono", "Montserrat", "Microsoft JhengHei", "PT Sans Narrow", "Source Han Sans TWHK", sans-serif;
      color: #FAF9F7;
      text-decoration: none; }
    footer[role="banner"] section[role="old-coscup-link"] span {
      display: inline-block;
      padding: 0 .5em;
      color: #FAF9F7;
      cursor: default; }
  footer[role="banner"] section[role="social-network-link"] {
    text-align: center; }
    footer[role="banner"] section[role="social-network-link"] a {
      display: inline-block;
      margin-right: 2em;
      margin-top: 1em; }
    footer[role="banner"] section[role="social-network-link"] img {
      height: 2em; }

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Microsoft JhengHei", "PT Sans Narrow", "Source Han Sans TWHK", sans-serif; }

html {
  width: 100%;
  height: 100%;
  background-color: #517862; }

[role="relative"] {
  position: relative; }

[role="clear-float"] {
  display: block;
  clear: both; }

main {
  position: relative;
  background-color: #EDEADA; }
  main article[role="self-introduction"] {
    font-size: 14pt;
    max-width: 700px;
    margin: 0 auto;
    padding: 20em 0;
    color: #333333;
    text-align: justify; }
