// _main.scss will include this file

// unactive/common state
nav[role="bugar-button"] {
    position      : relative;
    display       : none;
    font-size     : $font_medium;
    width         : 1em;
    height        : 1.2em;
    line-height   : 2em;
    margin        : 0 .5em 0 0;
    cursor        : pointer;
    vertical-align: sub;

    & > li {
        position     : absolute;
        display      : block;
        width        : 100%;
        border       : 1px solid $color_green_bg;
        border-radius: 2px;
        transition   : transform 500ms $time_quartic,
                       top 500ms $time_quartic;

        transform-origin: center center;
    }
    & > li[role="bugar-top-bread"] {
        top          : 30%;
    }
    & > li[role="bugar-ham"] {
        top          : 50%;
    }
    & > li[role="bugar-btn-bread"] {
        top          : 70%;
    }
}

// active state
nav[role="bugar-button"].active {
    & > li[role="bugar-top-bread"] {
        top          : 50%;
        transform    : rotateZ(-45deg);
    }
    & > li[role="bugar-ham"] {
        transform    : rotateZ(45deg);
    }
    & > li[role="bugar-btn-bread"] {
        top          : 50%;
        transform    : rotateZ(-45deg);
    }
}
