// _main.scss will include this file

$color_green_bg:       #517862;
$color_green_bg_hover: #749B75;
$color_green_bar:      #AACA86;
$color_green_active:   #83BF87;
$color_green_apple:    #acd598;
$color_gray:           #FAF9F7;
$color_gray_bg:        #EDEADA;
$color_black_text:     #333333;
$color_yellow:         #FFE3A6;
$color_pink:           #fca4ad;
