// _main.scss will include this file

@import url(https://fonts.googleapis.com/css?family=Montserrat);
$sans_serif: 'Montserrat', 'Microsoft JhengHei', 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
$serif     : Arial;

$font_base  : 14pt;
$font_medium: 20pt;
