// _main.scss will include this file

@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
$sans_serif: 'Montserrat', 'Microsoft JhengHei', 'PT Sans Narrow', 'Source Han Sans TWHK', sans-serif;
$serif     : Arial;
$mono      : 'Roboto Mono', $sans_serif;

$font_base  : 14pt;
$font_medium: 20pt;
