// _main.scss will include this file

footer[role="banner"] {
    padding         : 2em 1em;
    border-top      : 1px solid $color_green_bg;
    background-color: white;

    a {
        opacity     : .8;

        &:hover {
            opacity : 1;
        }
    }

    section[role="old-coscup-link"] {
        text-align  : center;

        a {
            font-family    : $mono;
            color          : $color_green_bg;
            text-decoration: none;
        }
        span {
            display        : inline-block; 
            padding        : 0 .5em;
            color          : $color_green_bg;
            cursor         : default;
        }
    }

    section[role="social-network-link"] {
        text-align         : center;

        a {
            display        : inline-block;
            margin-right   : 2em;
            margin-bottom  : 1em;
        }
        img {
            height         : 2em;
        }
    }
}
