// _main.scss will include this file

section[role="footer-sponsor"] {
    font-size       : $font_base;
    padding         : 4em 0;
    background-color: $color_green_bar;

    & > section {
        margin      : 4em auto 0 auto;
        max-width   : 1300px;

        &:first-of-type {
            margin-top : 0;
        }
        @include rwd(1400px) {
            width      : 980px;
        }
        @include rwd(1050px) {
            width      : 700px;
        }
        @include tablet() {
            width      : 80%;
        }
    }

    header[role="sponsor-class"] {
        display     : block;
        font-size   : 2em;
        color       : $color_gray;
    }
    div[role="sponsor"] {
        display     : inline-block;
        margin      : 1em 1em 0 0;

        a {
            display : inline-block;
            &[href=""] {
                cursor        : default;
                pointer-events: none;
            }
        }
        img {
            max-width  : 300px;
            @include tablet() {
                max-width     : 100%;
            }
        }
        p {
            text-align : center;
            color      : $color_gray;
        }
    }
}
