// import all partial in this forall directory
@import 'font';
@import 'color';
@import 'animate';
@import 'responsive';
@import 'article';
@import 'bugar';
@import 'navbar';
@import 'footer-sponsor';
@import 'footer';

// define common class or tag
* {
    margin          : 0;
    padding         : 0;
    font-family     : $sans-serif;
    -webkit-font-smoothing : antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html {
    width           : 100%;
    height          : 100%;
    background-color: white;
}
body {
    overflow-y      : scroll;
}
[role="relative"] {
    position        : relative;
}
[role="clear-float"] {
    display         : block;
    clear           : both;
}

img[role="seperator"] {
    display         : block;
    font-size       : $font_base;
    width           : 6em;
    margin          : 6em auto;
}

a[role="link-btn"] {
    display         : block;
    background-color: $color_green_bg;
    color           : white;
    padding         : .3em;
    text-align      : center;
    border-radius   : 2em;
    text-decoration : none;
    &[href=""]:hover {
        pointer-events: none;
    }
}

[role="ASAP"] {
    display         : block;
    font-size       : $font_large;
    margin          : 4em auto;
    color           : $color_green_bg;
    opacity         : .5;
    text-align      : center;
    letter-spacing  : .5em;
}
