// _main.scss will include this file

nav[role="banner"] {
    display         : block;
    position        : relative;
    height          : 20em;
    font-size       : $font_medium;
    background-image: url('/images/coverBG.png');
    background-size : cover;
    background-position: 50% 50%;
    background-repeat  : no-repeat;

    // Each pages' link
    section[role="page-links"] {
        position        : absolute;
        bottom          : 0;
        width           : 100%;
        z-index         : 999;

        & > ul {
            display     : block;
            width       : 100%;
            font-size   : $font_base;
            text-align  : center;
            padding     : 1.1em 0;
            border-top   : $color_green_bg 1px solid;
            border-bottom: $color_green_bg 1px solid;
            background  : white;
            background  : rgba(255,255,255,.8);

            @include tablet() {
                position       : absolute;
                left           : 0;
                top            : 100%;
                width          : 100%;
            }
        }
        & > ul > li {
            display     : inline-block;
            position    : relative;
            list-style  : none;
            width       : 7em;

            a {
                display        : inline-block;
                width          : 100%;
                border-bottom  : 1px solid transparent;
                color          : $color_green_bg;
                text-decoration: none;
                transition     : border-bottom 200ms;
            }
            [role="green-bar"] {
                position       : absolute;
                bottom         : -.5em;
                width          : 0em;
                left           : 50%;
                height         : .2em;
                border-radius  : 1em;
                background     : $color_green_bg;
                transform      : translateX(-50%);
                transition     : width 300ms $time_quartic;
            }
            &.active > [role="green-bar"] {
                width          : 6em;
            }
            &:hover  > [role="green-bar"] {
                width          : 6em;
            }

            @include tablet() {
                display        : block;
                width          : 100%;
                padding        : 0;
                text-align     : center;
                background     : $color_green_bg_hover;
                transform      : translateX (-100%);
                transform      : translate3d(-100%,0,0);
                transition     : transform 800ms $time_quartic;
            }
        }
    }

    // Language switch button
    nav[role="lang-switch"] {
        position    : absolute;
        bottom      : 5em;
        left        : 50%;
        font-size   : $font_base;
        transform   : translate(-50%,-50%);

        span {
            font-size     : $font_base;
            margin        : 0 1em 0 0;
            border        : 0;
            color         : $color_green_bg;
            cursor        : pointer;
            opacity       : .5;

            &.active,
            &:hover {
                opacity   : 1;
            }
        }
        span[role="seperator"] {
            cursor        : default;
            opacity       : 1;
        }
    }
}

// rwd opened menu
nav[role="bugar-button"].active ~ ul > li {
    transform       : translateX (0); 
    transform       : translate3d(0,0,0);
    @for $i from 1 through 10 {
        &:nth-child(#{$i}) {
            transition-delay: $i * 50ms
        }
    }
}
