// _main.scss will include this file

nav[role="banner"] {
	display         : block;
	font-size       : $font_medium;
	height          : 2em;
	line-height     : 2em;
	padding         : .5em;
	background-color: $color_green_bg_hover;

	strong {
		font-size   : $font_medium;
	}

	ul {
		display     : inline-block;
		font-size   : $font_base;
	}
	li {
		list-style  : none;
		display     : inline-block;
		padding     : 0 .3em;
		cursor      : pointer;

		a {
			border-bottom  : 1px solid transparent;
			color          : $color_gray;
			text-decoration: none;
			transition     : border-bottom 200ms;
		}
		&.active > a {
			border-bottom  : 1px solid $color_gray;
		}
		&:hover  > a {
			border-bottom  : 1px solid $color_gray;
		}
	}
}
