@import 'forall/main';

main {
    position: relative;
    background-color: white;

    section[role="index-body"] {
        font-size : $font_base;
        max-width : 800px;  
        margin    : 0 auto;
        padding   : 4em 0 0 0;
        color     : $color_green_bg;
        text-align: justify;
    }

    article[role="important-info"] {
        strong {
            display      : block;
            text-align   : center;
            margin-bottom: .5em;
            font-size    : $font_medium; 

            @include tablet() {
                font-size: $font_base;
            }
        }
        p {
            text-align: center;
        }
    }

    section[role="activity-gate"] {
        position   : relative;
        line-height: 1.6em;
        padding    : 0 0 3em 0;

        article {
            color     : #333;
            h2 {
                font-size : $font_medium;
                text-align: center;
                margin    : 0 0 .5em 0;
                color     : #517862;
            }
            a {
                bottom    : 0;
                font-size : $font_base;
                color     : rgba(255,255,255,.6);
                word-spacing   : 1em;
                text-decoration: none;
                transition     : color 500ms $time_quartic;
                &:hover {
                    color     : rgba(255,255,255,1);
                }
                &[href=""],
                &[href=""]:hover {
                    color     : rgba(255,255,255,.6);
                    cursor    : pointer;
                    pointer-events: none;
                }
            }
        }

        [role="left"] {
            display   : block;
            width     : 80%;
            margin    : 0 auto;
            vertical-align: top;

            a {
                left      : 0;
                display: block;
                margin : .8em 0 0 0;
                width  : 100%;
            }
        }
        [role="right"] {
            display   : block;
            width     : 80%;
            margin    : 4em auto 0 auto;
            vertical-align: top;
            a {
                right     : 0;
                display: block;
                margin : .8em 0 0 0;
                width  : 100%;
            }
        }
    }
}

