@import 'forall/main';

// Container of timetable
section[role="timetable"] {
    font-size: $font_base;
    display  : block;
    width    : 80%;
    max-width: 1400px;
    margin   : 8em auto;

    table {
        font-size     : $font_base;
        border-spacing: 0;
        background    : #eee;
        border-top    : .5em solid $color_green_bg;
        width         : 100%;
        
        & + table {
            margin-top: 8em;
        }

        td {
            font-size    : $font_base;
            padding      : 2em 0;
            text-align   : center;
            border-top   : 2px solid #eee;
            border-left  : 2px solid #eee;
            background   : white;
            color        : #333;

            &:first-child {
                border-left: 0;
            }
            header {
                padding  : 0 1em;
            }
            footer {
                font-size: $font_small;
                color    : #666;
            }
        }
        th {
            font-size : $font_base;
            background: $color_green_apple;
            color     : white;
            padding   : .5em 0;
        }
        [role="time-col"] {
            width     : 10%;
            text-align: center;
        }
    }
}

// style for hssb
[role="timetabel-hssb"] {
    td[colspan="1"] {
        width : 30%;
    }
}

// Defined tag style
[role="tag"] {
    display      : inline-block;
    font-size    : $font_small;
    height       : 1.3em;
    line-height  : 1.3em;
    padding      : 0 .6em;
    margin       : .3em .3em 0 .3em;
    background   : #333;
    color        : white;
    border-radius: .5em;

    &.tag-EN {
        background: #803232;
    }
}
