@import 'forall/main';
@import 'forall/_responsive.scss';
@import 'forall/popup-page';

// Container of timetable
section[role="timetable"] {
    font-size: $font_base;
    display  : block;
    width    : 80%;
    max-width: 1400px;
    margin   : 8em auto;

    table {
        font-size     : $font_base;
        border-spacing: 0;
        background    : #eee;
        border-top    : .5em solid $color_green_bg;
        width         : 100%;
        @include tablet() {
            border-top   : 0;
            border-left  : 2px solid #eee;
            border-right : 2px solid #eee;
            border-bottom: 2px solid #eee;
        }

        // Fix mobile issue
        @include tablet() {
            display: block;
            width  : 100%;
            tbody {
                display: block;
                width  : 100%;
            }
            tr {
                display: block;
                width  : 100%;
            }
            th {
                display: block;
                width  : 100%;
            }
            td {
                display: block;
                width  : 100%;
            }
        }
        
        & + table {
            margin-top: 4em;
        }

        td {
            font-size    : $font_base;
            text-align   : center;
            background   : white;
            color        : #333;
            transition   : opacity 300ms $time_quartic;
            position: relative;

            display    : table-cell;
            padding    : 2em 0;
            border     : 0px;
            border-top : 2px solid #eee;
            border-left: 2px solid #eee;
            @include tablet() {
                display: block;
                border-left: 0px;
                padding: 0 0 1em 0;
            }

            &.unactive {
                opacity  : .2;
            }
            div.subject {
                padding  : 0 1em;
                color    : rgba(102, 102, 102, 1);

                text-align: center;
                @include tablet() {
                    text-align: left;
                }
            }
            div.speaker {
                color    : rgba(143, 184, 34, 1);

                font-size: $font_small;
                text-align: center;
                @include tablet() {
                    text-align: left;
                    font-size: $font_base;
                    padding: 1em 1em .5em 1em;
                }

                position: relative;
                &:before{
                    content: attr(alt);
                    position: absolute;
                    right: 0px;
                    padding: .3em .8em .3em .8em;
                    margin: .2em;
                    border-radius: .3em;
                    top: 0em;
                    background-color: rgba(160, 160, 160, 1);
                    color: white;
                    @include tablet() {
                        display: inline-block;
                    }
                    @media (min-width: 900px){
                        display: none;
                    }
                }
            }
            [role="timetable-popup-content"] {
                display   : none;
            }
        }
        th {
            font-size : $font_base;
            background: $color_green_apple;
            color     : white;
            padding   : .5em 0;
            
            display: table-cell;
            @include tablet() {
                display   : none;
            }
        }
        [role="hardcode-col"] {
            @include tablet() {
                padding: 1em 0;
            }
        }
        [role="timetable-slot"] {
            cursor    : pointer;
            &:hover {
                background: #eee;
            }
        }
        [role="timetable-slot"] {
            cursor    : pointer;
            &:hover {
                background: #eee;
            }
        }
        [role="time-col"] {
            width     : 10%;
            text-align: center;
            border-left: 0;
           
            display: table-cell;
            @include tablet() {
                display: block;
                width  : 100%;   
                padding: 1em 0;
                background-color: rgba(100, 100, 100, 1);
                color: white;
            }
        }
        th[role="time-col"]{
            display: table-cell;
            @include tablet() {
                display: block;
                width  : 100%;   
                padding: 1em 0;
                color  : white;
                background-color: $color_green_bg;
                border-top      : 0;
            }
        }
        [role="empty-slot"] {
            display: table-cell;
            background: #eee;
            @include tablet() {
                display   : none;
            }
        }
    }
}

// style for hssb
[role="timetabel-hssb"] {
    td[colspan="1"] {
        width : 30%;
        @include tablet() {
            width: 100%;
        }
    }
}

// style for gym
[role="timetabel-gym"] {
    td[colspan="1"] {
        width : 90/6 * 1%;
        @include tablet() {
            width: 100%;
        }
    }
}

// Defined filter style
[role="timetable-filter"] {
    font-size     : $font_small;
    padding-bottom: 1em;

    header {
        font-size     : $font_base;
        margin-bottom : .3em;

        button {
            font-size : $font_base;
            display   : inline-block;
            width     : 50%;
            border    : 1px solid $color_green_bg;
            padding   : .5em 0;
            text-align: center;
            color     : $color_green_bg;
            background: white;
            cursor    : pointer;

            &.active {
                color     : white;
                background: $color_green_bg;
            }
        }
        [role="left-btn"] {
            float  : left;
        }
        [role="right-btn"] {
            float  : right;
        }
    }
    footer {
        span {
            position  : relative;
            font-size : $font_small;
            display   : inline-block;
            min-width : 100/7 * 0.9%;
            padding-left: 100/7 * 0.1%;
            border    : 0;
            padding   : .5em 0;
            text-indent: 1.5em;
            text-align: left;
            color     : rgba(153, 153, 153, 1);
            background: white;
            cursor    : pointer;
            transition: color 300ms $time_quartic;
            &.hide {
                display: none;
            }
            &:hover,
            &.active {
                color : rgba(51, 51, 51, 1);
            }
            box-sizing: border-box;
            
            @media screen and (min-width: 1200px) {
                width: 25%;
            }
            @media screen and (min-width: 900px) and (max-width: 1200px) {
                width: 33.3%;
            }
            @media screen and (min-width: 600px) and (max-width: 900px) {
                width: 50%;
            }
            @media screen and (max-width: 600px) {
                width: 100%;
            }

            [role="light-box"] {
                position     : absolute;
                font-size    : $font_small;
                width        : .8em;
                height       : .8em;
                left         : 0;
                top          : 50%;
                transform    : translateY(-50%);
                border       : 2px solid orange;
                border-radius: .3em;
                transition   : border 300ms $time_quartic,
                               backgroundColor 300ms $time_quartic;
            }
            &.active [role="light-box"] {
                border          : 2px solid yellow;
                background-color: yellow;
            }
        }
    }
    [role="filter-rwd"] {
        display    : none;
        padding    : 1em;
        text-align : center;
        cursor     : pointer;
        background : #80c269;
        color      : white;
        border-radius: .3em;
    }
    @media screen and (max-width: 600px) {
        footer {
            display: none;
        }
        [role="filter-rwd"] {
            display: block;
        }
        [role="filter-rwd"].active ~ footer {
            display: block;
        }
    }
}

// Defined table tag style
div.tags {
    text-align      : center;
    @include tablet() {
        text-align  : left;
        padding-left: 1em;
    }
}
[role="tag"] {
    display      : inline-block;
    font-size    : $font_small;
    height       : 1.3em;
    line-height  : 1.3em;
    padding      : 0 .6em;
    margin       : .3em .3em 0 0;
    background   : #333;
    color        : white;
    border-radius: .5em;

    &.tag-EN {
        background: #803232;
    }
}

// Defined popup page style
[role="timetable-popup-content"] {
    display  : block;
    width    : 80%;
    max-width: 700px;
    margin   : 0 auto;

    strong {
        font-size: $font_medium;
        color    : $color_green_bg;
    }
    article {
        font-size: $font_base;
        color    : #333;
        line-height: 1.6em;
        text-align : justify;
    }
    footer {
        margin-top: 4em;
    }
}
