@import 'forall/main';

section[role="transport"] {
    font-size       : $font_base;
    padding         : 1em 0;
    a {
        margin-left: 1em;
        img {
            height         : 1em;
        }
    }
    [role="title"] {
        color      : $color_green_bg;
        font-weight: 100;
    }
}

div[role="transport-text-info"] {
    max-width: 800px;
    margin   : 2em auto 0 auto;
}

div[role="transportmap"]{
    height: 600px;
    @include tablet() {
        height: 300px;
        padding: 3em;
    }
}
