main {
    position: relative;
    background-color: $color_gray_bg;

    article[role="self-introduction"] {
        font-size : $font_base;
        max-width : 700px;
        margin    : 0 auto; 
        padding   : 20em 0;
        color     : $color_black_text;
        text-align: justify;
    }
}
