main {
    position: relative;
    background-color: white;

    section[role="index-body"] {
        font-size : $font_base;
        max-width : 700px;  
        margin    : 0 auto;
        padding   : 4em 0;
        color     : $color_green_bg;
        text-align: justify;
    }

    article[role="important-info"] {
        strong {
            display      : block;
            text-align   : center;
            margin-bottom: .5em;
            font-size    : $font_medium; 
        }
        p {
            text-align: center;
        }
    }
}
